<div class="row justify-content-center mt-4">
  <div class="col-md-8">
    <form class="row g-2">
      <div class="col-auto">
        <select (change)="tipoOperacion($event)" class="form-select" [ngClass]="{
          'border-danger' : tipo === 'egresoOperacion',
            'border-success' : tipo === 'ingresoOperacion'
          }">
          <option value="ingresoOperacion" selected>+</option>
          <option value="egresoOperacion">-</option>
        </select>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Descripción" required [ngClass]="{
          'border-danger' : tipo === 'egresoOperacion',
          'border-success' : tipo === 'ingresoOperacion'
          }" />
      </div>
      <div class="col-auto">
        <input type="number" class="form-control" placeholder="Valor" required [ngClass]="{
          'border-danger' : tipo === 'egresoOperacion',
            'border-success' : tipo === 'ingresoOperacion'
          }" />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn" [ngClass]="{
          'bg-danger' : tipo === 'egresoOperacion',
            'bg-success' : tipo === 'ingresoOperacion'
          }">
          <i class="bi bi-check-circle"></i>
        </button>
      </div>
    </form>
  </div>
</div>